* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url("/img/30.jpg");
}

.navigation {
    font-family: var(--font1);
    margin-top: 25px;
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left span {
    font-size: 35px;
    padding-top: 10px;
}

.nav-left ul li a :hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left {
    font-size: 20px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22 px;
    padding-bottom: 23px;
    /* padding-bottom: 23px; */
}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 49px;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 315px;
    border: 2px solid cornsilk;
    border-radius: 10px;
}

.content {
    height: 100%;
    background-color: rgb(219, 202, 186);
    display: flex;
    margin-top: 32px;
    padding: 9px;
    background-image: url('../img/34.jpg');
}

.home-articles {
    background-color: rgb(223, 197, 197);
    padding-top: 12px;
    margin-top: 23px;
    background-image: url('../img/34.jpg');
    padding: 5px;
    position: relative;
}

.year-box {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}

.year-box div {
    margin: 12px 0px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content h5 {
    opacity: 0.7;
}

.home-article-content p {
    opacity: 0.8;
}

.home-article-content span {
    opacity: 0.8;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    /* background-color: blue; */
}